<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Your Cart</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="navbar">

    <div class="logo">
        Rita Grocery Shop
    </div>

    <div class="cart-button">
        <a href="/">Home 🏠</a>
    </div>

</div>

<h1 class="page-title">
    Your Shopping Cart
</h1>

<div class="product-container">

    <div class="product-card" th:each="item : ${cartItems}">

        <img th:src="${item.image}">

        <h3 th:text="${item.name}"></h3>

        <p class="price">
            ₹ <span th:text="${item.price}"></span>
        </p>

        <div style="margin-top:15px;">

            <a th:href="@{'/decrease/' + ${item.id}}">

                <button class="add-btn">
                    -
                </button>

            </a>

            <span style="font-size:22px; color:white; margin:15px;">

        <span th:text="${item.quantity}"></span>

    </span>

            <a th:href="@{'/increase/' + ${item.id}}">

                <button class="add-btn">
                    +
                </button>

            </a>

        </div>

        <p style="color:white; font-size:18px;">
            Total:
            ₹ <span th:text="${item.price * item.quantity}"></span>
        </p>

    </div>

</div>

<div style="text-align:center; color:white;">

    <h1>
        Grand Total:
        ₹ <span th:text="${total}"></span>
    </h1>

    <br>

    <a href="/checkout">

        <button class="add-btn">
            Proceed To Checkout
        </button>

    </a>

</div>

<br><br>

</body>

</html>