<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Rita Grocery Shop</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div style="display:flex; gap:15px; align-items:center;">

    <div class="cart-button">
        <a href="/orders">Orders 📦</a>
    </div>

    <div class="cart-button">
        <a href="/support">Support ☎</a>
    </div>

    <div class="cart-button">
        <a href="/cart">
            Cart 🛒 (<span th:text="${cartCount}"></span>)
        </a>
    </div>

</div>

<h1 class="page-title">
    Fresh Grocery Products
</h1>

<div class="product-container">

    <!-- Rice -->

    <div class="product-card">

        <img src="/images/riceimage.png">

        <h3>Rice</h3>

        <p class="price">₹50</p>

        <div class="button-section">

            <a href="/add-to-cart/1">

                <button class="add-btn">
                    Add To Cart
                </button>

            </a>

        </div>

    </div>

    <!-- Milk -->

    <div class="product-card">

        <img src="/images/milkimage.png">

        <h3>Milk</h3>

        <p class="price">₹30</p>

        <div class="button-section">

            <a href="/add-to-cart/2">

                <button class="add-btn">
                    Add To Cart
                </button>

            </a>

        </div>

    </div>

    <!-- Sugar -->

    <div class="product-card">

        <img src="/images/Sugarimage.png">

        <h3>Sugar</h3>

        <p class="price">₹45</p>

        <div class="button-section">

            <a href="/add-to-cart/3">

                <button class="add-btn">
                    Add To Cart
                </button>

            </a>

        </div>

    </div>

    <!-- Oil -->

    <div class="product-card">

        <img src="/images/Oilimage.png">

        <h3>Oil</h3>

        <p class="price">₹120</p>

        <div class="button-section">

            <a href="/add-to-cart/4">

                <button class="add-btn">
                    Add To Cart
                </button>

            </a>

        </div>

    </div>

    <!-- Biscuit -->

    <div class="product-card">

        <img src="/images/Biscuitimage.png">

        <h3>Biscuit</h3>

        <p class="price">₹20</p>

        <div class="button-section">

            <a href="/add-to-cart/5">

                <button class="add-btn">
                    Add To Cart
                </button>

            </a>

        </div>

    </div>

</div>

<div class="footer">
    © 2026 Rita Grocery Shop | Fresh Grocery Delivered
</div>

</body>

</html>