<!DOCTYPE html>
<html>

<head>

    <title>Order Success</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="navbar">

    <div class="logo">
        Rita Grocery Shop
    </div>

</div>

<div style="text-align:center; margin-top:120px; color:white;">

    <h1 style="font-size:55px;">
        ✅ Order Placed Successfully
    </h1>

    <p style="font-size:24px;">
        Thank you for shopping with Rita Grocery Store!
    </p>

    <br><br>

    <a href="/">

        <button class="add-btn">
            Continue Shopping
        </button>

    </a>

</div>

</body>

</html>