<!DOCTYPE html>
<html>

<head>

    <title>Support</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="navbar">

    <div class="logo">
        Rita Grocery Shop
    </div>

    <div class="cart-button">
        <a href="/">Home 🏠</a>
    </div>

</div>

<div style="text-align:center; color:white; margin-top:80px;">

    <h1 style="font-size:50px;">
        Customer Support ☎
    </h1>

    <br>

    <div class="product-card" style="margin:auto; width:450px;">

        <h2 style="color:white;">
            Need Help?
        </h2>

        <p style="color:white; font-size:18px;">
            📞 Phone: +91 9876543210
        </p>

        <p style="color:white; font-size:18px;">
            📧 Email: support@ritagrocery.com
        </p>

        <p style="color:white; font-size:18px;">
            🕒 Support Timing: 8 AM - 10 PM
        </p>

        <br>

        <a href="/">

            <button class="add-btn">
                Back To Home
            </button>

        </a>

    </div>

</div>

</body>
</html>
